/* ## Resizable Textareas ## */
textarea.gc-quicksms-text,
.goog-inline-block textarea {
	resize: both;
}


/* ## For Incremental Message Show ## */
.gc-message-sms-old .gc-message-sms-row {
    display: none;
}
.gc-message-sms-old .gc-message-sms-row.showMessage {
    display: block;
}
